$old-burgundy: #3d2c2e;
$dark-slate-gray: #315659;
$alice-blue: #edf6f9;
$unbleached-silk: #ffddd2;
$dark-salmon: #e29578;
$padding-facts: 25px;
//https://coolors.co/3d2c2e-315659-edf6f9-ffddd2-e29578
