@import "../../variables.scss";

.icon-wrapper {
  padding: 15px;
}

.icon {
  color: $dark-slate-gray;
  cursor: pointer;
}

.compliment {
  display: flex;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
