<div class="container">
  <div class="header-container">
    <h2 class="app-title">{{title}}</h2>
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
      <nav class="navigation">
        <ul class="router-container">
          <div class="router">
            <a routerLink="/all-facts" routerLinkActive="active">All Facts</a>
          </div>
          <div class="router">
            <a routerLink="/my-facts" routerLinkActive="active">My Facts</a>
          </div>
        </ul>
      </nav>
  </div>
  <!-- The routed views render in the <router-outlet>-->
  <div class="facts-container">
    <router-outlet></router-outlet>
  </div>
</div>